<h2 class="page-header">Anmelden</h2>

<form method="post" action="/users/login">
	<div class="form-group">
		<label>Benutzername</label>
		<input type="text" class="form-control" name ="username" placeholder="Username" >
	</div>
	<div class="form-group">
		<label>Passwort</label>
		<input type="password" class="form-control" name="password" placeholder="Password" >
	</div>
	<button type="submit" class="button"><span>Submit</span></button>
</form>

<p id="p"> Noch nicht registriert? <a href = "/users/register"> Registrieren</a> </p>