<h2 class="page-header">Registrieren </h2>
{{#if errors}}
	{{#each errors}}
		<div class="alert alert-danger">{{msg}}</div>
	{{/each}}
{{/if}}
<form method="post" action="/users/register">
	<div class="form-group">
		<label>Name</label>
		<input type="text" class="form-control" placeholder="Name" name="name">
	</div>
	<div class="form-group">
		<label>Vorname</label>
		<input type="text" class="form-control" placeholder="Firstname" name="firstname">
	</div>
	<div class="form-group">
		<label>Benutzername</label>
		<input type="text" class="form-control" placeholder="Username" name="username">
	</div>
	<div class="form-group">
		<label>E-Mail</label>
		<input type="email" class="form-control" placeholder="Email" name="email">
	</div>
	<div class="form-group">
		<label>Passwort</label>
		<input type="password" class="form-control" placeholder="Password(6 characters or more)" name="password">
	</div>
	<div class="form-group">
		<label>Passwort best&auml;tigen</label>
		<input type="password" class="form-control" placeholder="Password" name="passwordConfirm">
	</div>
	<button type="submit"class="button"><span>Registrieren</span></button>
</form>
	